.nav--list { line-height: 1.56; text-align: left; margin-top: 0; font-size: 16px; font-size: 1rem; }

.nav--list:before, .nav--list:after { display: none; }

.nav--list > li { margin-bottom: 10px; margin-bottom: 0.625rem; }

.nav--list > li > a { display: inline; padding: 0; color: #657180; background: transparent !important; }

.nav--list > li > a:hover { color: #3F4D60; }

.nav--list .nav__title { color: #333333; font-weight: 600; }

@media all and (max-width: 767px) { .nav--list { font-size: 14px; line-height: 1.43; }
  .nav--list .nav__title { font-size: 14px; } }