.section {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.automargin {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.section_title {
  font-family: $font-stack;
  font-weight: getFontWeight(semibold);
  color: getColor(dark);
}

.section_subtitle {
  font-family: $font-stack;
  font-weight: getFontWeight(regular);
}

.section_header {
  text-align: center;
  margin-bottom: 54px;

  .section_icon {
    margin-bottom: 30px;
  }

  .hint {
    letter-spacing: 0;
    font-size: 22px;
    text-align: center;
    line-height: 24px;
    margin: 0;
  }
}

.section_lead {
  height: 100%;
  background: getColor(primary) no-repeat center;
  background-size: cover;
  color: getColor(white);
  position: relative;
  text-align: left;
  min-height: 650px;

  .section_title {
    color: getColor(white);
  }

  .lead {
    color: rgba(getColor(white), .8);
  }

  .buttons_inline {
    margin-top: 38px;
  }

  .container {
    height: 100%;
    z-index: 2;
    position: relative;
  }

  @include break-max(tablet) {
    background-image: none !important;
    padding-top: 130px;
    padding-bottom: 70px;
  }
}

.section_gray {
  background-color: rgba(#EAEDEF, .4);
}

.section_about {
  font-size: 14px;
  padding: 90px 0 70px;

  p {
    font-size: 14px;
    line-height: 20px;
    color: getColor(text);
    margin-bottom: 10px;
  }

  strong {
    font-weight: getFontWeight(semibold);
  }
  
  .nav {
    width: 50%;
    float: left;
  }

  @include break-max(tablet) {
    .copy {
      margin-bottom: 40px;
    }
  }
}

.copy {
  margin: 20px 0;
}

.section_raise {
  padding-top: 150px;
  padding-bottom: 120px;

  @include break-max(tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section_invest {
  padding-bottom: 120px;

  @include break-max(tablet) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@include break-max-height(mobile) {
  .section {
    height: auto;
  }
}

@include break-max(medium) {
  .section_about,
  .section_buy {
    .container {
      padding-top: 0;
    }
  }

  .section {
    padding: 50px 0;
    height: auto;
  }

  .section_title {
    font-size: 30px;
    line-height: normal;
  }

  .section_subtitle {
    font-size: 18px!important;
  }

  .section_header {
    margin-bottom: 40px;

    .section_icon {
      margin-bottom: 10px;

      img {
        width: 40px;
      }
    }

    .hint {
      font-size: 16px;
      line-height: normal;
      margin: 0 0 5px;
    }
  }

  .section_lead {
    padding: 100px 0 50px;
    min-height: 560px;

    .vertical_align__cell {
      vertical-align: top;
      padding: 0;
    }

    .section_title {
    }
  }
}