<section class="section section_invest" id="invest">
  <div class="container">
    <div class="row">
      <div class="col-md-8 automargin">

        <div class="section_header">
          <div class="section_icon"><img src="images/invest_icn.svg" width="70" alt="features"></div>
          <div class="hint">Invest</div>
          <h2 class="h1 section_title">I want to invest</h2>
        </div>

        <p class="lead">We&nbsp;facilitate investment opportunities that you&rsquo;re unlikely to&nbsp;find anywhere else by&nbsp;giving you access to&nbsp;cutting-edge firms at&nbsp;the very earliest stages. The entrepreneurs seeking investors through Lykke Securities are ambitious, driven, and highly motivated to&nbsp;turn their vision into reality. They tend to&nbsp;want a&nbsp;smaller number of&nbsp;investors than the average private placement.</p>
        <p class="lead">We&nbsp;want to&nbsp;get you involved early with intriguing opportunities specifically tailored to&nbsp;your criteria and preferences. To&nbsp;start, just answer a&nbsp;few short questions so&nbsp;that we&nbsp;can get to&nbsp;know you better.</p>

        <div class="form_indent">
          <div class="btn_open_form text-center">
            <button type="button" class="btn btn--primary _open_form" data-target="form_invest">Fill the form</button>
          </div>

          <div id="form_invest" class="form_container">
            <form action="" class="form form_invest">

              <!-- NOTE: this form is quite similar to lykke.com b2b form-->
              <h3>General information</h3>

              <div class="form-group">
                <label for="salutation" class="control-label">Salutation</label>

                <div class="radio-group group_salutation">
                  <div class="radio radio--plate">
                    <input type="radio" name="salutation" id="salutation3">
                    <label for="salutation3" class="control-label">Dr.</label>
                  </div>
                  <div class="radio radio--plate">
                    <input type="radio" name="salutation" id="salutation">
                    <label for="salutation" class="control-label">Mr.</label>
                  </div>
                  <div class="radio radio--plate">
                    <input type="radio" name="salutation" id="salutation1">
                    <label for="salutation1" class="control-label">Mrs.</label>
                  </div>
                  <div class="radio radio--plate">
                    <input type="radio" name="salutation" id="salutation2">
                    <label for="salutation2" class="control-label">Ms.</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="first_name" class="control-label">First name</label>
                    <input type="text" class="form-control" id="first_name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="last_name" class="control-label">Last name</label>
                    <input type="text" class="form-control" id="last_name">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="job_title" class="control-label">Job title</label>
                <input type="text" class="form-control" id="job_title">
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="company_name" class="control-label">Organisation name</label>
                    <input type="text" class="form-control" id="company_name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="street" class="control-label">Street</label>
                    <input type="text" class="form-control" id="street">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="city" class="control-label">City</label>
                    <input type="text" class="form-control" id="city">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="zip" class="control-label">ZIP</label>
                    <input type="text" class="form-control" id="zip">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="country" class="control-label">Country</label>
                <div class="select" data-control="select">
                  <select id="country" class="form-control select__elem">
                    <option>Country</option>
                    <option>Country</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="phone" class="control-label">Phone</label>
                    <input type="tel" class="form-control" id="phone">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="website" class="control-label">Website</label>
                <input type="url" class="form-control" id="website" value="http://">
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <label for="hear" class="control-label">Where did you hear about us?</label>
                </div>
                <div class="col-sm-8">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" name="hear" id="hear1" class="radio__control">
                      <label for="hear1" class="control-label radio__label">Event</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="hear" id="hear2" class="radio__control">
                      <label for="hear2" class="control-label radio__label">www.lykke.com</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="hear" id="hear3" class="radio__control">
                      <label for="hear3" class="control-label radio__label">Personal network</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="hear" id="hear4" class="radio__control">
                      <label for="hear4" class="control-label radio__label">Other</label>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="other" disabled>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="relationship" class="control-label">What is your primary relationship with Lykke?</label>
                <div class="select" data-control="select">
                  <select id="relationship" class="form-control select__elem">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>

              <div class="submit-group">
                <button class="btn btn-block" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
