<section class="section section_lead" id="lead" style="background-image: url('images/mainbg.jpg')">
  <div class="container">

    <div class="vertical_align">
      <div class="vertical_align__row">
        <div class="vertical_align__cell">


          <div class="row">
            <div class="col-md-6">
              <h1 class="h2 section_title">At&nbsp;Lykke Securities, we&nbsp;make the process of&nbsp;capitalizing your business as&nbsp;simple and painless as&nbsp;possible.</h1>
              <p class="lead">If&nbsp;you&rsquo;ve had trouble in&nbsp;the past with placement agents&nbsp;&mdash; if&nbsp;your small business was turned away because the size or&nbsp;complexity of&nbsp;the capital raise wouldn&rsquo;t generate sufficient agency fees&nbsp;&mdash; give&nbsp;us a&nbsp;try.          </p>
              <p class="lead">Whether you&rsquo;re looking to&nbsp;raise money or&nbsp;invest, we&nbsp;can help.</p>

              <div class="buttons_inline">
                <a href="#raise" class="btn btn--white _move_to">I want to raise money</a>
                <a href="#invest" class="btn btn--white _move_to">I want to invest</a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>