<section class="section section_raise" id="raise">
  <div class="container">
    <div class="row">
      <div class="col-md-8 automargin">

        <div class="section_header">
          <div class="section_icon"><img src="images/raise_icn.svg" width="70" alt="features"></div>
          <div class="hint">Raise</div>
          <h2 class="h1 section_title">I&nbsp;want to&nbsp;raise money</h2>
        </div>

        <p class="lead">We&nbsp;know how to&nbsp;help the small businesses that other placement agents have turned away, because we&nbsp;believe that the quantity of&nbsp;fees that the business generates for the agency should never be&nbsp;a&nbsp;barrier to&nbsp;entry. Let the Lykke Securities team introduce you to&nbsp;the right investors based entirely on&nbsp;what your company needs.</p>
        <p class="lead">To&nbsp;start, just answer a&nbsp;few short questions so&nbsp;we&nbsp;can get to&nbsp;know you better.</p>

        <div class="form_indent">
          <div class="btn_open_form text-center">
            <button type="button" class="btn btn--primary _open_form" data-target="form_raise">Fill the form</button>
          </div>

          <div id="form_raise" class="form_container">
            <form action="" class="form form_raise">

              <!-- NOTE: this form is quite similar to lykke.com b2b form-->
              <h3>General information</h3>

              <div class="form-group">
                <label for="salutation" class="control-label">Salutation</label>

                <div class="radio-group group_salutation">
                  <div class="radio radio--plate">
                    <input type="radio" name="salutation" id="salutation3">
                    <label for="salutation3" class="control-label">Dr.</label>
                  </div>
                  <div class="radio radio--plate">
                    <input type="radio" name="salutation" id="salutation">
                    <label for="salutation" class="control-label">Mr.</label>
                  </div>
                  <div class="radio radio--plate">
                    <input type="radio" name="salutation" id="salutation1">
                    <label for="salutation1" class="control-label">Mrs.</label>
                  </div>
                  <div class="radio radio--plate">
                    <input type="radio" name="salutation" id="salutation2">
                    <label for="salutation2" class="control-label">Ms.</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="first_name" class="control-label">First name</label>
                    <input type="text" class="form-control" id="first_name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="last_name" class="control-label">Last name</label>
                    <input type="text" class="form-control" id="last_name">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="job_title" class="control-label">Job title</label>
                <input type="text" class="form-control" id="job_title">
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="company_name" class="control-label">Organisation name</label>
                    <input type="text" class="form-control" id="company_name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="street" class="control-label">Street</label>
                    <input type="text" class="form-control" id="street">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="city" class="control-label">City</label>
                    <input type="text" class="form-control" id="city">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="zip" class="control-label">ZIP</label>
                    <input type="text" class="form-control" id="zip">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="country" class="control-label">Country</label>
                <div class="select" data-control="select">
                  <select id="country" class="form-control select__elem">
                    <option>Country</option>
                    <option>Country</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="phone" class="control-label">Phone</label>
                    <input type="tel" class="form-control" id="phone">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="website" class="control-label">Website</label>
                <input type="url" class="form-control" id="website" value="http://">
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <label for="hear" class="control-label">Where did you hear about us?</label>
                </div>
                <div class="col-sm-8">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" name="hear" id="hear1" class="radio__control">
                      <label for="hear1" class="control-label radio__label">Event</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="hear" id="hear2" class="radio__control">
                      <label for="hear2" class="control-label radio__label">www.lykke.com</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="hear" id="hear3" class="radio__control">
                      <label for="hear3" class="control-label radio__label">Personal network</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="hear" id="hear4" class="radio__control">
                      <label for="hear4" class="control-label radio__label">Other</label>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="other" disabled>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="relationship" class="control-label">What is your primary relationship with Lykke?</label>
                <div class="select" data-control="select">
                  <select id="relationship" class="form-control select__elem">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="industry" class="control-label">Which industry or business category does your proposal concern?</label>
                <input type="url" class="form-control" id="industry">
              </div>

              <div class="form-group">
                <label for="services" class="control-label">Describe your company’s products and services</label>
                <textarea name="remarks" id="services" class="form-control"></textarea>
              </div>

              <h3>Proposal details</h3>

              <div class="row">
                <div class="col-sm-4">
                  <label for="role" class="control-label">What is your role in the project?</label>
                </div>
                <div class="col-sm-8">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" name="role" id="role1" class="radio__control">
                      <label for="hear1" class="control-label radio__label">Event</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="role" id="role2" class="radio__control">
                      <label for="hear2" class="control-label radio__label">www.lykke.com</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="role" id="role3" class="radio__control">
                      <label for="hear3" class="control-label radio__label">Personal network</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="role" id="role4" class="radio__control">
                      <label for="hear4" class="control-label radio__label">Other</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="solution" class="control-label">Describe the project's goals and objectives. How you intend to utilize the Blockchain?</label>
                <textarea name="solution" id="solution" class="form-control"></textarea>
              </div>

              <div class="form-group">
                <label for="problem" class="control-label">Describe the market opportunity that exists or the business problem that you intent to solve</label>
                <textarea name="problem" id="problem" class="form-control"></textarea>
                <div class="hint">If you are a Lykke team member, please include you Lykke email</div>
              </div>

              <div class="form-group">
                <label for="contributing" class="control-label">How do you see us contributing to your project? Briefly summarize your expectations</label>
                <textarea name="contributing" id="contributing" class="form-control"></textarea>
              </div>

              <div class="form-group">
                <label for="established" class="control-label">Are you an established company? If not, please provide background information about yourselves, such as when and where you are founded, legal company structure, and so on</label>
                <textarea name="established" id="established" class="form-control"></textarea>
              </div>

              <div class="form-group">
                <label for="requireestablished" class="control-label">Would you require help in establishing a legal framework for your ICO? Please elaborate</label>
                <textarea name="requireestablished" id="requireestablished" class="form-control"></textarea>
              </div>


              <div class="row">
                <div class="col-sm-4">
                  <label for="radio11" class="control-label">Does your coin/token already exist, or is it new?</label>
                </div>
                <div class="col-sm-8">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" name="radio11" id="radio11" class="radio__control">
                      <label for="radio11" class="control-label radio__label">Existing</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="radio11" id="radio12" class="radio__control">
                      <label for="radio12" class="control-label radio__label">New</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="submit-group">
                <button class="btn btn-block" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
