<header class="header _header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header_logo _header_logo">
        <a href="#" class="_move_to">
          <img src="images/logo_white.png" class="logo_show" width="290" height="40" alt="logo">
          <img src="images/logo.png" class="logo_hide" width="290" height="40" alt="logo">
        </a>
      </div>
      <div class="nav_menu">
        <button type="button" class="btn btn--icon menu_icon _toggle_menu">
          <i></i><i></i><i></i>
        </button>
      </div>
      <div class="header_center nav_dropdown pull-right">
        <menu class="header_nav">
          <li class="header_nav__item">
            <a href="#raise" class="_move_to _header_link">Raise Money</a>
          </li>
          <li class="header_nav__item">
            <a href="#invest" class="_move_to _header_link">Invest</a>
          </li>
          <li class="header_nav__item">
            <a href="#about" class="_move_to _header_link">About us</a>
          </li>
          <li class="header_nav__item">
            <a href="/" class="_header_link">Press</a>
          </li>
          <li class="header_nav__item">
            <a href="/" class="_header_link">FAQ</a>
          </li>
        </menu>
      </div>
    </div>
  </div>
</header>
